#dashboard {
    margin-top: 50px;
    display: block;
  }
  
  h2 {
    text-align: center;
    font-size: 40px;
  }
  
 .card-wrapper {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 1240px;
    color: rgba(77, 112, 137, 1);
  }
  
  .card-wrapper h2 {
    margin: auto;
  }
  
  
  #dashboard {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; 
  }
  
  #dashboard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/cover565.jpg');
    background-size: cover; 
    background-position: contain; 
    background-repeat: no-repeat;
   
  }